@model MySolution.Models.Catalog.Products.ProductCreateRequest

@{
    ViewData["Title"] = "Trang quản trị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#txt_description'), {}).then(editor => {
            window.editor = editor;
        }).catch(err => {
            console.error(err.stack)
        });
    </script>
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Tạo sản phẩm mới</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo sản phẩm mới</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách </a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
                                <option>--Loại--</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Stock" class="control-label"></label>
                            <input asp-for="Stock" class="form-control" />
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descrestion" class="control-label"></label>
                            <textarea id="txt_description" asp-for="Descrestion" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="Descrestion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoAlias" class="control-label"></label>
                            <input asp-for="SeoAlias" class="form-control" />
                            <span asp-validation-for="SeoAlias" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Caption" class="control-label"></label>
                            <input asp-for="Caption" class="form-control" />
                            <span asp-validation-for="Caption" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IsFeatured" class="control-label"></label>
                            <input asp-for="IsFeatured" type="checkbox" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ThumbnailImage1" class="control-label"></label>
                            <input asp-for="ThumbnailImage1" class="form-control" />
                            <span asp-validation-for="ThumbnailImage1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ThumbnailImage2" class="control-label"></label>
                            <input asp-for="ThumbnailImage2" class="form-control" />
                            <span asp-validation-for="ThumbnailImage2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ThumbnailImage3" class="control-label"></label>
                            <input asp-for="ThumbnailImage3" class="form-control" />
                            <span asp-validation-for="ThumbnailImage3" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ThumbnailImage4" class="control-label"></label>
                            <input asp-for="ThumbnailImage4" class="form-control" />
                            <span asp-validation-for="ThumbnailImage4" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ThumbnailImage5" class="control-label"></label>
                            <input asp-for="ThumbnailImage5" class="form-control" />
                            <span asp-validation-for="ThumbnailImage5" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Tạo" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>