@model MySolution.Models.System.Users.UpdateRequest

@{
    ViewData["Title"] = "Cập nhật tài khoản";
}

@section Script{
    @{
        if (ViewBag.Success != null)
        {
            <script>alert('@Html.Raw(ViewBag.Success)')</script>
        }
    }
}

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i>CuahangthucphamOgani@gmail.com</li>
                            <li>Free Ship trong nội đô thành phố</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">
                        <div class="header__top__right__language">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <div><a class="txt1" asp-action="update" asp-controller="account">@User.Identity.Name<i class="fa fa-edit"></i></a></div>
                                }
                                else
                                {
                                    <div>Xin chào!</div>
                                }
                            }
                        </div>
                        @{
                            if (!User.Identity.IsAuthenticated)
                            {
                                <div class="header__top__right__auth">
                                    <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Đăng nhập</a>
                                </div>
                            }
                            else
                            {
                                <div class="header__top__right__auth">
                                    <a asp-controller="Account" asp-action="Logout"><i class="fa fa-user"></i> Đăng Xuất</a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a asp-action="Index" asp-controller="Home"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6" style="text-align:center">
                <nav class="header__menu">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li><a asp-controller="Product" asp-action="Index">Sản phẩm</a></li>
                        <li>
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-action="GetOrder" asp-controller="Cart">Đơn hàng</a>
                                }
                                else
                                {
                                    <a asp-action="Login" asp-controller="Account">Đơn hàng</a>
                                }
                            }
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="Cart" asp-action="Favorite"><i class="fa fa-heart"></i> <span id="favorite-items"></span></a></li>
                                <li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-bag"></i> <span id="number-items"></span></a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-heart"></i> <span id="favorite-items"></span></a></li>
                                <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-shopping-bag"></i> <span id="number-items"></span></a></li>
                            }
                        }
                    </ul>
                    <div class="header__cart__price">Tổng: <span id="total-items"></span> <span style="color: red">&#8363;</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Danh mục</span>
                    </div>
                    <ul>
                        @foreach (var li in ViewBag.categories)
                        {
                            <li><a href="/product/index?categoryId=@li.Value">@li.Text</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form asp-action="Index" asp-controller="Product">
                            <input type="text" placeholder="Bạn cần tìm gì?" name="keyword">
                            <button type="submit" class="site-btn">Tìm</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+84334190027</h5>
                            <span>Hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(/img/hero/banner.jpg);">
                    <span class="login100-form-title-1">
                        Cập nhật thông tin
                    </span>
                </div>

                <form class="login100-form validate-form" asp-controller="Account" asp-action="Update" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" value="@(User.Claims.First(x => x.Type == "id").ToString().Remove(0,4))" />
                    <div class="wrap-input100 validate-input m-b-26">
                        <span class="label-input100">Tên</span>
                        <input asp-for="FirstName" placeholder="Nhập tên">
                    </div>
                    <div class="wrap-input100 validate-input m-b-26">
                        <span class="label-input100">Họ</span>
                        <input asp-for="LastName" placeholder="Nhập họ">
                    </div>
                    <div class="wrap-input100 validate-input m-b-26">
                        <span class="label-input100">Email</span>
                        <input asp-for="Email" placeholder="Nhập email">
                    </div>
                    <div class="wrap-input100 validate-input m-b-26">
                        <span class="label-input100">Ngày sinh</span>
                        <input asp-for="Dob">
                    </div>
                    <div class="wrap-input100 validate-input m-b-26">
                        <span class="label-input100">Điện thoại</span>
                        <input asp-for="PhoneNumber" placeholder="Nhập Số điện thoại">
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Cập nhật
                        </button>
                    </div>
                    <div></div>
                    <div>
                        <a class="txt1" asp-action="ChangePassword" asp-controller="Account" >Đổi mật khẩu</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
<!--===============================================================================================-->
<script src="/vendor/jquery/jquery-3.2.1.min.js"></a>
<!--===============================================================================================-->
<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/js/main-lg.js"></script>